* {
    margin: 0;
    padding: 0;
}
.nav {
    height: 10vh;
    width: 99vw;
}

.header {
    margin-top: 10px;
    height: 45px;
    width: 98.2vw;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 35px;
    width: 70px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img:hover {
    filter: drop-shadow(10px 5px 20px rgb(67, 66, 66));
}
.header h1 a{
    font-size: 35px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.795);
}

.header .element a{
    font-size: 18px;
    text-decoration: none;
    margin: 0px 30px;
    color: rgba(72, 69, 69, 0.922);
}

.header .element a:hover{
    color: rgb(122, 122, 232);
    transition-duration: 0.3s;
}

.header .button a{
    font-size: 18px;
    text-decoration: none;
    margin: 0px 10px;
    color: rgb(79, 76, 76);
}

.header .button a:hover{
    color: rgba(139, 224, 139, 0.863);
    transition-duration: 0.3s;
}


.text {
    height: 50%;
    width: 60%;
    margin: auto;
    margin-top: 20px
}
.text h1{
    height: 30%;
    width: 25vw;
    margin: auto;
    font-size: 35px;
    font-weight: 300;
    font-family: sans-serif;
    border-bottom: 2px solid rgb(104, 101, 101);
    text-align: center;   
}

/*                      now we create a new container for service details                      */

.container {
    height: 250vh;
    width: 100%;
    /* background: linear-gradient(rgba(37, 116, 206, 0.639), rgba(193, 74, 74, 0.411)); */
    margin-top: 5%;
}
.container .box {
    height: 20vh;
    width: 90%;
    margin: 30px auto;
    /* background-color: rgb(186, 57, 57); */
    border-radius: 10px;
}
.container .box h1{
    height: 30%;
    width: 60%;
    margin: auto;
    font-family:Georgia, 'Times New Roman';
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.container .box p{
    height: 63%;
    width: 90%;
    /* background-color: aqua; */
    color: rgba(110, 106, 106, 0.685);
    margin:5px 65px;
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





